body, p, em {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", "Times New Roman", serif;
}

.site-wrapper {
  margin: 0 auto;
  width: 1024px;
}

header .site-wrapper {
  display: flex;
  justify-content: flex-start;
}

header {
  background-color: #006363;
  border-bottom: 3px solid #054158;
}

main {
  display: flex;
  background-color: #C08430;
}

footer {
  background-color: #0A0A0D;
}

h1 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 40px;
}

img {
  margin-top: 15px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Teko", Arial, sans-serif;
}

.main-info {
  margin-left: 70px;
  margin-bottom: 20px;
}

span {
  display: block;
}

a {
  padding-left: 7px;
  text-decoration: none;
}

.main-info a {
  color: #bbbbbb;
}

section {
  margin-top: 15px;
  border-top: 2px solid #ba512f;
}

main a {
  color: #652e05;
}


